{{extend 'layout.html'}}

{{ block page_name }}&nbsp;{{ end }}

{{ block breadcrumb }}
{{ end }}

{{ block content }}
    <style type="text/css">
        .delay-red {
            color: red;
        }
        .delay-orange {
            color: orange;
        }
        .delay-green {
            color: green;
        }
    </style>

    <h3>Trámites Asignados a mi AREA</h3>

    <table class="table table-bordered">
        <tr>
            <th></th>
            <th>Nº Trámite</th>
            <th>Fecha</th>
            <th>Área Solicitante</th>
            <th>Documento</th>
            <th>Prioridad</th>
            <th>Asunto</th>
            <th>Indicaciones</th>
            <th>Demora</th>
        </tr>
        {{if area_data:}}
            {{for line in area_data:}}
                <tr>
                    <td>{{=A('Procesar', _href=URL('procesos', 'desarrollo_tramite/tramites/tramites_procesos.tramite', args=[line[0]]))}}</td>
                    {{for field in line:}}
                        <td>{{=XML(field)}}</td>
                    {{pass}}
                </tr>
            {{pass}}
        {{else:}}
            <tr class="text-center">
                <td colspan="15"><i>No hay registros pendientes</i></td>
            </tr>
        {{pass}}
    </table>
    {{=len(area_data)}} pendiente(s)

    <hr/>

    <h3>Trámites Asignados a MI</h3>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Nº Trámite</th>
            <th>Fecha</th>
            <th>Área Solicitante</th>
            <th>Documento</th>
            <th>Prioridad</th>
            <th>Asunto</th>
            <th>Indicaciones</th>
            <th>Demora</th>
        </tr>
        {{if user_data:}}
            {{for line in user_data:}}
                <tr>
                    <td>{{=A('Procesar', _href=URL('procesos', 'desarrollo_tramite/tramites/tramites_procesos.tramite', args=[line[0]]))}}</td>
                    {{for field in line:}}
                        <td>{{=field}}</td>
                    {{pass}}
                </tr>
            {{pass}}
        {{else:}}
            <tr class="text-center">
                <td colspan="15"><i>No hay registros pendientes</i></td>
            </tr>
        {{pass}}
    </table>
    {{=len(user_data)}} pendiente(s)
{{ end }}
