{{extend 'layout.html'}}

{{ block page_name }}Áreas{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Áreas</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
