{{extend 'layout.html'}}

{{ block page_name }}Indicaciones{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Indicaciones</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
