{{extend 'layout.html'}}

{{ block page_name }}Tipos de trámite{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Tipos de trámite</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
