{{extend 'layout.html'}}

{{ block page_name }}Grupos de usuario{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Grupos de usuario</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
