{{extend 'layout.html'}}

{{ block page_name }}Membresías de usuario{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Membresías de usuario</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
