{{extend 'layout.html'}}

{{ block page_name }}Administración de usuarios{{ end }}

{{ block breadcrumb }}
    <li>Configuración</li>
    <li class="active">Administración de usuarios</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
