{{ extend 'layout.html' }}

{{ block page_name}}Eventos de usuario{{ end }}

{{ block breadcrumb }}
    <li>Reportes</li>
    <li class="active">Eventos de usuario</li>
{{ end }}

{{ block content }}
    <div id="noty" style="float: right;"></div>
    {{ =form_user }}
    {{ if eventos:}}
        {{ =eventos }}
    {{ else: }}
        <br/>
        <div>
            <p class="muted"><strong>Nota:</strong></p>
            No ha seleccionado ningún usuario. Seleccione un usuario y genere el reporte para mostrar los eventos relacionados.
        </div>
    {{ pass }}
    {{ if response.flash: }}
        <script type="text/javascript">
            $(document).ready(function() {
                var n = $("#noty").noty({
                    layout: 'topRight',
                    text: '{{=response.flash}}',
                    type: 'warning',
                });
            });
        </script>
    {{ pass }}
{{ end }}
