{{ extend 'layout.html' }}

{{ block page_name }}Compartir archivo{{ end }}

{{ block breadcrumb }}
    <li><a href="{{=URL('archivos', 'lista_archivos')}}">Archivos</a></li>
    <li class="active">Compartir archivo</li>
{{ end }}

{{ block content }}
    {{ =form }}
{{ end }}
