{{ extend 'layout.html' }}

{{ block page_name }}Lista de archivos{{ end }}

{{ block breadcrumb }}
    <li class="active">Archivos</li>
{{ end }}

{{ block content }}
    <h4>Mis archivos</h4>
    <p>Archivos que usted ha cargado al sistema:</p>

    {{ if len(personales.rows): }}
        {{ =personales }}
    {{ else: }}
        <div class="web2py_counter">0 registros encontrados</div>
        <br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="color: #08c; background-color: #EAEAEA;">Archivo</th>
                    <th style="color: #08c; background-color: #EAEAEA;">Notas</th>
                    <th style="background-color: #EAEAEA;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10"><i>No se encontraron archivos</i></td>
                </tr>
            </tbody>
        </table>
    {{ pass }}
    <div class="text-right">
        <a class="btn btn-success" href="{{=URL('archivos', 'nuevo_archivo')}}">Cargar archivo</a>
    </div>

    <br/>

    <h4>Mis compartidos</h4>
    <p>Archivos que han sido compartidos contigo:</p>

    {{ if len(compartidos.rows): }}
        {{ =compartidos }}
    {{ else: }}
        <div class="web2py_counter">0 registros encontrados</div>
        <br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="color: #08c; background-color: #EAEAEA;">Archivo</th>
                    <th style="color: #08c; background-color: #EAEAEA;">Mensaje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10"><i>No se encontraron archivos</i></td>
                </tr>
            </tbody>
        </table>
    {{ pass }}

    <script type="text/javascript">
        $(document).ready(function() {
            $(".delete-user-file").each(function() {
                $(this).click(function() {
                    return confirm("¿Está seguro de eliminar el archivo?");
                });
            });
        });
    </script>
{{ end }}
