{{ extend 'layout.html' }}

{{ block page_name }}{{ =title }}{{ end }}

{{ block breadcrumb }}
    <li><a href="{{=URL('archivos', 'lista_archivos')}}">Archivos</a></li>
    <li class="active">Nuevo archivo</li>
{{ end }}


{{ block content }}
    {{ =form }}
{{ end }}
