{{extend 'layout.html'}}

{{block page_name}}Consulta de trámites{{ end }}

{{ block breadcrumb }}
    <li>Trámites</li>
    <li class="active">Consulta</li>
{{ end }}

{{ block content }}
    {{=form}}
{{ end }}
