{{extend 'layout.html'}}

{{ block page_name}}Desarrollo del Trámite: {{ =str(tramite.id).zfill(4) }}{{ end }}

{{ block breadcrumb }}
    <li>Trámites</li>
    <li><a href="{{=URL('tramites', 'consulta_tramite')}}">Consulta</a></li>
    <li class="active">Desarrollo del trámite</li>
{{ end }}

{{ block content }}
    <div class="web2py_console">
        <form action="/destiny/tramites/consulta_desarrollo_tramite/{{=tramite.id}}" enctype="multipart/form-data" method="GET">
            <input class="form-control" id="w2p_keywords" name="keywords" onfocus="jQuery('#w2p_query_fields').change();jQuery('#w2p_query_panel').slideDown();" type="text" value="{{ =search or '' }}">
            <input class="btn btn-default" type="submit" value="Buscar">
            <input class="btn btn-default" onclick="jQuery('#w2p_keywords').val('');" type="submit" value="Limpiar">
        </form>
    </div>

    <div class="web2py_counter">{{ =len(procesos_data) }} registros encontrados</div>
    <br/>
    <div class="web2py_htmltable" style="width:100%;overflow-x:auto;-ms-overflow-x:scroll">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="color: #08c; background-color: #EAEAEA;">#</th>
                    <th style="color: #08c; background-color: #EAEAEA;">Fecha</th>
                    <th style="color: #08c; background-color: #EAEAEA;">Indicaciones</th>
                    <th style="color: #08c; background-color: #EAEAEA;">Documento</th>
                    <th style="color: #08c; background-color: #EAEAEA;">Usuario Creador</th>
                    <th style="color: #08c; background-color: #EAEAEA;">Unidades Destino</th>
                    <th style="color: #08c; background-color: #EAEAEA;">Usuario Destino</th>
                    <th style="color: #08c; background-color: #EAEAEA;">Comentarios</th>
                    <th style="color: #08c; background-color: #EAEAEA;" width="8%">Tiempo</th>
                </tr>
            </thead>
            <tbody>
                {{ if len(procesos_data): }}
                    <tr>
                        <td colspan="9" class="bg-success" style="text-align: center;"><strong>TRAMITE INICIADO</strong></td>
                    </tr>
                    {{ for proceso in procesos_data: }}
                        <tr>
                            <td style="vertical-align: middle;"><strong>{{ =proceso['counter'] }}</strong></td>
                            <td style="vertical-align: middle;">{{ =proceso['tiempo'] }}</td>
                            <td style="vertical-align: middle;">{{ =proceso['indicacion'] }}</td>
                            <td style="vertical-align: middle;">{{ =proceso['documento_generado'] }}</td>
                            <td style="vertical-align: middle;">{{ =proceso['usuario'] }}</td>
                            <td style="vertical-align: middle;">{{ =proceso['area_destino'] }}</td>
                            <td style="vertical-align: middle;">{{ =proceso['usuario_destino'] }}</td>
                            <td style="vertical-align: middle;">{{ =proceso['comentarios'] }}</td>
                            <td style="vertical-align: middle;"><strong>{{ =proceso['demora'] }}</strong></td>
                        </tr>
                    {{ pass }}
                    {{ if tramite.estado == 0: }}
                        <tr>
                            <td colspan="9" class="bg-warning" style="text-align: center;"><strong>TRÁMITE PENDIENTE</strong></td>
                        </tr>
                    {{ else: }}
                        <tr>
                            <td colspan="9" class="bg-success" style="text-align: center;"><strong>TRÁMITE FINALIZADO</STrong></td>
                        </tr>
                    {{ pass }}
                {{ else: }}
                    <tr>
                        <td colspan="10"><i>No se encontraron registros</i></td>
                    </tr>
                {{ pass }}
            </tbody>
        </table>
    </div>
    <br/>
    <a href="{{ =URL('tramites', 'consulta_tramite') }}" class="btn btn-default">Regresar</a>
{{ end }}
