{{extend 'layout.html'}}

{{ block page_name}}Procesamiento de trámites{{ end }}

{{ block breadcrumb }}
    <li>Procesos</li>
    <li class="active">Procesamiento de trámites</li>
{{ end }}

{{ block content }}
    {{if tramite is not None:}}
        <h3>Trámite: {{=tramite}}</h3>
    {{pass}}

    {{if form.create_form:}}
        <div style="padding-bottom: 40px;">
            <h4>Generación de documentos</h4>
            <p>Puede generar un nuevo documento o seleccionar un documento existente en el formulario del proceso de trámite</p>
            <div>{{=form_document}}</div>
        </div>
    {{pass}}

    {{=form}}
{{ end }}

