{{extend 'layout.html'}}

{{ block page_name}}Nuevo trámite{{ end }}

{{ block breadcrumb }}
    <li>Procesos</li>
    <li class="active">Nuevo trámite</li>
{{ end }}

{{ block content }}
    <div id="noty" style="float: right;"></div>
    <div>
        <h4>Generación de documentos</h4>
        <p>Puede generar un nuevo documento o seleccionar un documento existente en el formulario del trámite</p>
        <div>{{=form_document}}</div>
    </div>

    {{=form}}

    {{ if response.flash: }}
        <script type="text/javascript">
            $(document).ready(function() {
                var n = $("#noty").noty({
                    layout: 'topRight',
                    text: '{{=response.flash}}',
                    type: 'warning',
                });
            });
        </script>
    {{ pass }}
{{ end }}
